In [ ]:
import pandas as pd

In [ ]:
# recoding = pd.read_csv('data/05_shifts.csv', encoding ='Windows 1252')
# recoding.to_csv('data/05_shifts_01.csv', encoding ='utf-8')

In [ ]:
# pokus o vytazeni jmen pracovniku ze shifts. Nefunguje a ja nevim proc


# names = pd.read_csv('data/05_shifts.csv')

# # Getting distinct values from the 'names' column
# distinct_names = names['Unnamed:0'].unique()

# # Convert numpy array to a Python list
# workers = distinct_names.tolist()

# print(workers)

In [ ]:
# -- Aidamar 2,194
# -- bolette 1,338
# -- borealis 1,353
# -- gann 200
# -- sh diana 192

In [ ]:
# TOTO JE PUVODNE SKRIPT shifts. py. Snazim se ted napsat to do jednoho skriptu tak, abych nemusela delat mezikrok v LibreOfficu.

with open('data/05_shifts.csv', mode='r', encoding='utf-8') as file:
    text = file.read()
splitted = text.split(",\n")

rest = []
for clen in splitted:
    if clen != ',,,,,,,':
        rest.append(clen)

workers = ['Kaisa', 'Lars Oskar', 'Anne Line', 'Hanne', 'Tiril', 'Andrea', 'Malin', 'Toni'] # da se napsat prikaz, ktery mi to z prvniho sloupecku vybere jako distinct hodnoty? - abych to nemusela vypisovat jako trotl

ships = [item for item in rest if not any(name in item for name in workers)]

ships_out = "\n".join(ships)

with open('data/05_shifts_to_boats.csv', mode='w', encoding='utf-8') as output_file:
    print(ships_out, file=output_file)


# mezikrok v cisteni mezi vysledkem tohoto a vstupnim souborem pro Shifts to boats byl udelat v libre office. Je mozne to udelat v pythonu a jak? Idealne bych to mela cele v jednom souboru, aby to bylo na 1 klik

In [ ]:
# Doplneni '*' pred datum. Bude slouzit jako separator.

# Load the CSV file, assuming no header in the file
df_shifts = pd.read_csv('data/05_shifts_to_boats.csv', header=None)

# Function to check if a cell contains a '/'
def contains_slash(cell):
    return '/' in str(cell)

# Iterate over rows in the DataFrame
for i in range(len(df_shifts)):
    # Check if any cell in the row contains '/'
    if any(contains_slash(cell) for cell in df_shifts.iloc[i]):
        # Prepend '*' to the 'jmeno' column of this row
        df_shifts.at[i, 0] = '*'

# Save the updated DataFrame back to CSV
df_shifts.to_csv('data/05_shifts_to_boats_01.csv', index=False, header=False)

In [ ]:
# ted mam predcisteny soubor v takovem stavu, ze jsem se zbavila smen pracovniku, ktere nepotrebuju, prazdnych radku, ktere nepotrebuju a pred datumy/tydny mam hvezdicku - ta bude slouzit jako separator do budoucna.
# co bych s tim ted chtela udelat: potrebuju to rozdelit pomosi te hvezdicky na jednotlive tabulky - mela bych pak mit treba seznam tabulek (slovnik?) a jednotlive tabulky poskladat za sebe (pomoci concat?). Ulozit jako shifts to boats 2. Mela bych se timto dostat do zakladniho kroku dalsiho oddilu
with open('data/05_shifts_to_boats_01.csv', mode='r', encoding='utf-8') as file:
    text = file.read()
splitted = text.split("*")

print(splitted)

In [ ]:

boats = pd.read_csv('data/05_shifts_to_boats_02.csv', encoding ='Windows 1252')
boats = boats.T

headers = ['boat1', 'time1', 'boat2', 'time2', 'boat3', 'time3']
boats.columns = headers
boats.index.name = 'date'


boats.to_csv('data/05_shifts_to_boats_03.csv', encoding ='utf-8') # I am saving it and again opening because it cannot read the 1st header otherwise

In [ ]:
# serazeni vsech zmen za sebe

boats = pd.read_csv('data/05_shifts_to_boats_03.csv', encoding ='utf-8')

boats1 = boats[['date', 'boat1', 'time1']]
boats1 = boats1.rename(columns={'boat1' : 'boat', 'time1': 'time'})

boats2 = boats[['date', 'boat2', 'time2']]
boats2 = boats2.rename(columns={'boat2' : 'boat', 'time2': 'time'})

boats3 = boats[['date', 'boat3', 'time3']]
boats3 = boats3.rename(columns={'boat3' : 'boat', 'time3': 'time'})

new_times = pd.concat([boats1, boats2, boats3], ignore_index=True)
new_times

In [ ]:
changes_only = new_times.dropna(subset=['boat'])
changes_only = changes_only.drop(17, axis='index')
changes_only

In [ ]:
replacements = {
    'Aidabella': 'AIDAbella',
    'Aidaluna': 'AIDAluna',
    'AidaMar': 'AIDAmar',
    'Aidasol': 'AIDAsol',
    'Preziosa': 'MSC Preziosa',
    'Sverdrup': 'Otto Sverdrup',
    'Sverdrup ?': 'Otto Sverdrup',
    'Hamburg ?': 'Hamburg',
    'Ocean Majesty?': 'Ocean Majesty',
    'Mein Schiff': 'Mein Schiff 4',
    'Island Princess?': 'Island Princess',
    'Nieuw Statendam?': 'Nieuw Statendam',
    "Borealis 61'": 'Borealis',
    'Europa (Skarsv?g)': 'Europa',
    'Pacific World (p1800)': 'Pacific World',
    'Queen Viktoria (2200)': 'Queen Viktoria',
    'Ambience p1000': 'Ambience',
    'MS Marina p600': 'MS Marina',
    'Riviera p1258': 'Riviera',
    'Preziosa ': 'MSC Preziosa',
    'Preziosa': 'MSC Preziosa',
    'Ambition?': 'Ambition',
    'Greg Mortimer p160': 'Greg Mortimer'
}

changes_only['boat'] = changes_only['boat'].replace(replacements)

In [ ]:
changes_only.to_csv('data/05_shifts_to_boats_04.csv', encoding ='utf-8', index=False)